.score {
    position: absolute;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    right: 180px;
}

#my_score {
    bottom: 8px;
}

#cpu_score {
    top: 8px;
}

